body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-left: 15em;
    margin-right: 15em;
}

h1 {
    color: teal;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
}

label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}

input[type="text"], input[type="email"], input[type = "date"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

br {
    clear: both;
}

#submit {
    margin-left: 0.5em;
    margin-top: 1em;
    font-size: 1em;
}